/*change the fond about nav-bar*/

/* -------- For all pages' css file -------------------------- */
.copyright{
  text-align: center;
}

/* -------- Home page's css file -------------------------- */
.home{
    padding:20px;
	  display: flex;
    justify-content: center;
}

.home img{
  width: 600px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* -------- Images page's css file -------------------------- */
.gallary{
  padding:10px;
}

.images{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: grid;
  grid-gap: 4rem;
}

.MyComponent img {
  width: 600px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* -------- Videos page's css file -------------------------- */
.vid{
 padding: 20px;
}

.videosP {
  display: grid;
  padding: 10px;
  grid-gap: 4rem;
}

.videos{
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  /*display: flex;*/
}

/* -------- Videos page's css file -------------------------- */

.projectsP{
  padding: 10px;
  display: grid;
  justify-content: center;
}

.projectsC{
  display: flex;
}

.projectName{
  text-align: center;
  display: table-cell;
  margin: 20px 0;
  padding: 10px;
  border: 10px solid white;
  vertical-align: middle;
}

.projectsC > div{
  padding: 10px;
}

.projectsC img{
  width: 360px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* -------- Comment page's css file -------------------------- */

.CommentPage {
  display: flex;
}

.form {
  overflow-y: auto;
  width: 50%;
}


input[type=text] {
  width: 99%;
}

textarea {
  width: 99%;
  height:60px;
  font-size: 17px;
  font-family: Comic Sans MS;
}

dot {
  color: red;
}

select {
  width: 100%;
}


#submit {
  background-color: lightgrey;
  color: black;
  width:100%;
  padding: 12px;
  border-radius: 11px;
  font-size: 24px;
  cursor: pointer;
  font-family: Comic Sans MS;
}

#submit:hover {
  background-color: grey;
}

/* --------------------------------------------- */

/* -------- Movie css file -------------------------- */
.MovieLayout img{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  cursor: pointer;
  height: 450px;
}


.MovieLayout img:hover{
  -webkit-filter: brightness(50%);
} 

.box_setting {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0,0.7);
  z-index: 1;
  overflow: auto;
  position: fixed;
}

.appearance {
  width: 650px;
  max-width: 800px;
  margin: auto;
  background-color: white;
  display: flex;
}


.title {
  color:black;
  font-size: 50px;
  line-height: 100px;
}

.director {
  color: black;
  font-size: 20px;
  line-height: 50px;
}

.rating {
  font-size: 20px;
  background-color: yellow;
  color: black;
}

.content {
  display: inline-block;
  height: auto;
}
/* --------------------------------------------- */

.out_put {
  overflow-y: auto;
  width: 50%;
  height: 65vh;
  margin-left: 100px;
}


.date {
  color: hotpink;
  font-size: 17px;
}


.name {
  color:black;
  font-weight: bold;
}

/* -------- TO TOP css file -------------------------- */
.bar {
  font-family: Comic Sans MS;
  padding: 1rem 5rem;
}

.description{
  text-align: center;
  display: table-cell;
  margin: 0;
  padding: 20px;
  border: 10px solid white;
  vertical-align: middle;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;

  background-color: orange;
  color: white;
  padding: 16px;
  border-radius: 12px;
  font-size: 19px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
